body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#post-name{
  text-align: center;
}

video {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.single-video {
  display: inline-block;
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  margin: 1rem 2rem;
}

.single-post {
  display: inline-block;
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  margin: 1rem 2rem;
}

.single-image{
  display: inline-block;
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  margin: 1rem 2rem;
}
.search-container{
  margin: 1rem;
  max-width: 300px;
}

.search-form {
  border: 2px lightgray;
}

li {
  list-style: none;
}

.form-control {
  margin-left: auto;
  margin-right: auto;
}

.card-img-top {
  margin-top: 10px;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}


.image-card:hover{
  border: rgb(66, 66, 66) solid 1.5px;
  cursor: pointer;
}


.video-card:hover{
  border: rgb(80, 80, 80) solid 1.5px;
  cursor: pointer;
}


.post-card:hover{
  cursor: pointer;
  box-shadow: 5px 5px 5px 1px rgb(204, 203, 203) 
}

.post-card{
  margin: 5px;
}


.image-card{
  margin: 5px;
}


.video-card{
  margin: 5px;
}

#form-control{
  width: 40%;
}


.navbar {
  width: auto;
  padding: 50px;
  margin-bottom: 50px;
}

.nav-link {
  text-align: left;
}


.image-image {
  border-radius: 2px 2px 0 0;
}

.delete {
  margin: 1px 3px;
}