body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.navbar {
  padding: 2em;
}


.single-video {
  border: grey solid 1px;
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.single-post {
  border: grey solid 1px;
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.single-image{
  border: grey solid 1px;
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

li {
  list-style: none;
}

.image-card{ 
  display: inline-grid;
  border: grey solid 1px;
  padding-bottom: 1rem;
  width: 16rem;
  height: 3.5rem;
  margin: 1rem 2rem;
  text-align: center;
}

.image-card:hover{
  border: red solid 1.5px;
  cursor: pointer;
}

.video-card{ 
  display: inline-grid;
  border: grey solid 1px;
  padding-bottom: 1.5rem;
  width: 16rem;
  height: 3.5rem;
  margin: 1rem 2rem;
  text-align: center;
}

.video-card:hover{
  border: red solid 1.5px;
  cursor: pointer;
}

.post-card{ 
  border: grey solid 1px;
  padding-bottom: 1rem;
  width: 17rem;
  height: 2.5rem;
  margin: 1rem 2rem;
  text-align: center;
}

.post-card:hover{
  border: red solid 1.5px;
  cursor: pointer;
}
