body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.single-video {
  
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  margin: 1rem 2rem;
}

.single-post {
  
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  margin: 1rem 2rem;
}

.single-image{
  display: inline-block;
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  margin: 1rem 2rem;
}

li {
  list-style: none;
}


.image-card:hover{
  border: rgb(66, 66, 66) solid 1.5px;
  cursor: pointer;
}


.video-card:hover{
  border: rgb(80, 80, 80) solid 1.5px;
  cursor: pointer;
}


.post-card:hover{
  border: rgb(105, 105, 105) solid 1.5px;
  cursor: pointer;
}

.post-card{
  margin: 5px;
}


.image-card{
  margin: 5px;
}


.video-card{
  margin: 5px;
}

#form-control{
  width: 40%;
}


.navbar {
  width: auto;
  padding: 50px;
  margin-bottom: 50px;
}

.nav-link {
  text-align: left;
}
